html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;

}

.banner-content {
  position: absolute;
  max-width: 50em;
  padding: 0 1rem;
  bottom: 1rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  color: #fff;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.banner-content h2,
.banner-content p {
  margin: 0;
}
